services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    container_name: buenos_backend
    ports:
      - "3333:3333"
    env_file:
      - .env
    volumes:
      - ./backend:/app
      - /app/node_modules

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: buenos_frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
