.driver-layout {
  position: relative;
  width: 100%;
  min-height: 100vh;
  
  overflow-x: hidden;
}

.driver-layout-content {
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  background: #f5f5f5; 
  padding: 0;
  overflow-y: auto;
}
