.driver-layout {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.driver-layout-content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  background: #f5f5f5; /* cor neutra para ver se o outlet aparece */
  padding: 0;
}
